.loader-home-container{
    display: flex;
    margin: 0 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
}
.home-container{
    display: flex;
    margin: 0 30px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
}
.main-title,
.recipes-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}