.nav-container{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffe1a8;
    height:40px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    color: #793302;
    z-index: 1;
}
.active{
    position: fixed;
    width: 100%;
}
.nav-link{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: inherit;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    margin: 0 5px;
    transition: all 0.1s;
}
.nav-img{
    display: flex;
    height: 100%;
    object-fit: contain;
    align-items: center;
}
.nav-img img{
    max-height: 40px;
    margin-right: 10px;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-left:auto;
    margin-right: 15px;
}
.selected-link{
    background-color: #ffbf48;
    font-style: none;
}