.filter-form-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    color: #793302;
    margin: 0 0 10px 0;
}
.filter-form-container label{
    font-size: 15px;
    font-weight: 450;
    text-shadow: 0 0 1px black;
}
.filter-form-container select{
    margin: 0 5px;
    min-width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: #793302;
    background-color: #f1c168;
    cursor: pointer;
    outline: none;
}
.filter-form-container button{
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #793302;
    cursor: pointer;
    color: #faebd2;
    transition: all 0.2s ease-in-out;
}

.filter-form-container button:hover{
    color: #793302;
    background-color: #faebd2;
    border: none;
    box-shadow: 0 0 5px #793302;
}